# Ignore system-specific or sensitive files
*.swp
.history
.cache/
*.log
__pycache__/
node_modules/

# Ignore specific local-only dotfiles
.secrets
*.bak
.idea/
.vscode/

# Ignore GNU Stow symlinked directories
*/stow-backups/
